
@{
    ViewBag.Title = "Create";
}

<h2>Add New Subject</h2>
<form action="/product/create" method="post">
    <div class="form-group">
        <label>Subject Id</label>
        <input type="text" class="form-control" id="txtSubjectId" placeholder="Subject Id" name="SubjectId" />
    </div>
    <div class="form-group">
        <label>Subject Name</label>
        <input type="text" class="form-control" id="txtSubjectName" placeholder="Subject Name" name="SubjectName" />
    </div>
    <div class="form-group">
        <label>Passing Grade</label>
        <input type="text" class="form-control" id="txtPassingGrade" placeholder="Passing Grade" name="PassingGrade" />
    </div>
    <button>Submit</button>
</form>

