
@{
    ViewBag.Title = "Details";
}

<h2>Subject Details</h2>

<table class="table">
    <tr>
        <th>Subject ID</th>
        <td>@ViewBag.MatchingSubject.SubjectId</td>
    </tr>
    <tr>
        <th>Subject Name</th>
        <td>@ViewBag.MatchingSubject.SubjectName</td>
    </tr>
    <tr>
        <th>Passing Grade</th>
        <td>@ViewBag.MatchingSubject.PassingGrade</td>
    </tr>
</table>

