
@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Message = "Offering the best selections";
}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Favorites</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Best Deals</a>
}

<h2>Subjects</h2>
<table class="table">
    <thead>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Passing Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.products)
        {
            <tr>
                <td><a href="/product/details/@item.SubjectId">@item.SubjectId</a></td>
                <td>@item.SubjectName</td>
                <td>@item.PassingGrade</td>
            </tr>
        }
    </tbody>
</table>

