@model List<EFDbFoirstApproachExample.Models.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Brands</h2>
<table class="table">
    <tr>
        <td>Brand ID</td>
        <td>Brand Name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BrandID</td>
            <td>@item.BrandName</td>
        </tr>
    }
</table>