
@{
    ViewBag.Title = "Home";
}
@{
    ViewBag.Message = "Welcome to Trent Bas";
}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Students</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Records</a>
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>ASP.NET MVC Ultimate Guide</h1>
        <p>by Trendon Cato</p>
    </div>
</div>
