<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OurCompanyProducts</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/homeproducts">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contacts">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <h2>Subjects</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">English</a>
                    <a href="#" class="list-group-item list-group-item-action">Mathematics</a>
                    <a href="#" class="list-group-item list-group-item-action">Chinese</a>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Classes</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Business English</a>
                    <a href="#" class="list-group-item list-group-item-action">Calculus 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Beginner Chinese</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
