@{
    ViewBag.Title = "Products";
}
@{
    ViewBag.Message = "Offering the best selections";
}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Favorites</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Best Deals</a>
}
<div class="row">

    <div class="col-md-6">
        <h2>Subjects</h2>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">English</a>
            <a href="#" class="list-group-item list-group-item-action">Mathematics</a>
            <a href="#" class="list-group-item list-group-item-action">Chinese</a>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Classes</h2>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Business English</a>
            <a href="#" class="list-group-item list-group-item-action">Calculus 1</a>
            <a href="#" class="list-group-item list-group-item-action">Beginner Chinese</a>
        </div>
    </div>

</div>
