@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h2> style="color:red"2>Error occurred</h2>
<h5>Controller: @Model.ControllerName</h5>
<h5>Action: @Model.ActionName</h5>
<h5>Exception: @Model.Exception.Message</h5>
<h5>Exception Type: @Model.Exception.GetType().ToString()</h5>

